body{
  background: lightgrey;
}
/* HEADER */
.header{
  background: linear-gradient(45deg, cornflowerblue, dodgerblue);
  color: white;
  height: 0;
  text-align: center;
}
.header h1{
  font-size: 18px;
}

.svg-wrap{
  background: aliceblue;
  display: flex;
  justify-content: center;
  padding: 10px 0 20px;
}
#us-map{  
  width: 620px;
}
path, circle, .territory{
  animation: all 1.25s ease;
  background: #D3D3D3;
  fill: #D3D3D3;
}
path:hover, circle:hover, .territory:hover {
  cursor: pointer;
  stroke: #333;
  stroke-width: 1px;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
.territory{
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: center;
  width: 36px;
}

.c1{fill: darkseagreen !important; background: darkseagreen !important;} /* Sanders */
.c2{fill: darksalmon !important; background: darksalmon !important;} /* Buttigieg */
.c3{fill: darkslateblue !important; background: darkslateblue !important;} /* Biden */
.c4{fill: steelblue !important; background: steelblue !important;} /* Warren */
.c5{fill: maroon !important; background: maroon !important;} /* Klobuchar */
.c7{fill: palevioletred !important; background: palevioletred !important;} /* Steyer */
.c27{fill: goldenrod !important; background: goldenrod !important;} /* Bloomberg */

/*#MN{fill: maroon !important;}
#NC{fill: goldenrod !important;}

#CA, #VT, #TX, #OK, #UT, #CO, #ME, #AS, #DA{fill: darkseagreen !important; background: darkseagreen !important;}
#AR, #AL, #TN, #VA{fill: darkslateblue !important;}
#MA{fill: steelblue !important;}*/



/* VOTES HOVER INFO */
.votes-hover {
  display: none;
  font-size: 11px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #EEE;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  box-shadow: 1px 1px 4px #000;
}
.votes-hover strong{
  display: block;
  font-size: 16px;
  margin-bottom: 4px;
}
.caucus{
  color: #999;
  font-size: 10px;
}
.votes{
  border-collapse: collapse;
  margin-top: 10px;
}
.votes tr:last-child td{
  border-bottom: 0;
}
.votes th, .votes td{
  padding: 3px 8px;
  text-align: left;
}
.votes th{
  background: #666;
  border-bottom: 0;
  color: white;
  margin-bottom: 10px;
  padding: 6px 8px;
  text-align: center;
}
.votes td{
  border-bottom: 1px solid #CCC;
  padding: 4px 8px;
  text-align: center;
}
.votes td span{
  background: #000;
  display: inline-block;
  height: 10px;
  margin-right: 8px;
  width: 10px;
}
.votes td:first-child{
  font-size: 12px;
  line-height: 12px;
  padding-left: 0;
  text-align: left;
}
.votes td:last-child{
  font-size: 13px;
  font-weight: bold;
}
.votes tr:nth-child(2) td{
  padding-top: 6px;
}



/* DELEGATE COUNT */
.delegates-con{
  background: lightgrey;
  margin-top: -215px;
  padding-bottom: 30px;
}
.delegates-con h1{
  background: linear-gradient(90deg, rgba(7,38,59,1) 0%, rgba(15,101,187,1) 100%);
  box-shadow: 0px 2px 4px #333;
  color: white;
  font-size: 20px;
  margin-bottom: 12px;
  padding: 8px 5%;
  text-align: center;
}
.delegates-con .row{
  margin: 0 10%;
}
.delegates-needed{
  color: #333;
  display: block;
  float: right;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 5px;
  text-align: right;
}
.delegates table{
  border-collapse: collapse;
  width: 100%;
}
.name{
  font-size: 16px;
  font-weight: 700;
  padding-right: 30px;
  text-align: right;
  width: 18%;
}
.delegates tr.dropped td:first-child{
  color: firebrick;
  font-weight: normal;
  text-decoration: line-through;
}
.bar{
  background: #EEE;
  border-bottom: 5px solid lightgrey;
  border-top: 5px solid lightgrey;
  height: 40px;
  position: relative;
  text-align: center;
}
.bar-number{
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  position: absolute;
  top: 7px;
  z-index: 3;
}
.bar-pct{
  color: #666;
  font-size: 12px;
  font-weight: normal;
  margin-left: 8px;
}
.bar-color{
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}


