
/* HEADER */
.header{
  background: linear-gradient(45deg, cornflowerblue, dodgerblue);
  color: white;
  padding: 0.25em;
  text-align: center;
}
.header h1{
  font-size: 18px;
}

.svg-wrap{
  display: flex;
  justify-content: center;
  margin: 40px 0 20px;
}
#us-map{  
  width: 700px;
}
path, circle{
  animation: all 1.25s ease;
  fill: #D3D3D3;
}
path:after{
  content:'ABC';
}
path:hover, circle:hover {
  cursor: pointer;
  stroke: #333;
  stroke-width: 1px;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
.votes-hover {
  display: none;
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}


.c1{fill: darkseagreen !important; background: darkseagreen !important;} /* Sanders */
.c2{fill: darksalmon !important; background: darksalmon !important;} /* Buttigieg */
.c3{fill: darkslateblue !important; background: darkslateblue !important;} /* Biden */
.c4{fill: cornflowerblue !important; background: cornflowerblue !important;} /* Warren */
.c5{fill: firebrick !important; background: firebrick !important;} /* Klobuchar */

#SC{fill: #999;}

/*#CA, #VT, #TX, #MN, #MA, #VA, #NC, #TN, #OK, #AR, #AL, #UT, #CO, #ME{
  fill: darkseagreen;
}*/


section{
  margin-left: 5%;
  margin-top: -140px;
  width: 90%;
}
.delegates{
  width: 100%;
}
.delegates table{
  width: 100%;
}
.name{
  width: 15%;
}
.bar{
  background: #EEE;
  height: 32px;
  position: relative;
  text-align: center;
  width: 85%;
}
.bar-number{
  font-size: 18px;
  position: relative;
  z-index: 3;
}
.bar-color{
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

.votes-hover{
  text-align: center;
}
.votes-hover strong{
  display: block;
  font-size: 16px;
  margin: 8px 0;
}
.votes td{
  border-bottom: 1px solid #EEE;
  padding: 3px 10px;
}
.votes tr:last-child td{
  border-bottom: 0;
}





